@import "tailwindcss";

@font-face {
  font-family: 'Product Sans Medium';
  src: url('/fonts/Product Sans Medium.woff2') format('woff2'),
      url('/fonts/Product Sans Medium.woff') format('woff'),
      url('/fonts/Product Sans Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


body {
  font-family: 'Product Sans Medium', 'Inter', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}




@theme {
  --color-primary: #65253E;
  --color-button : #65253E;
  --color-hover : #924362;
  --color-text : #924362;
  --color-icon : #924362;
  
}




/* 
  #184a14
  #54964f
  #46b03d

  #65253E
 */

